<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.test.app.dao.BoardMapper">

    <select id="findAll" resultType="mapper">
        select
            *
        from
            tbl_board;
    </select>

    <select id="findById" resultType="mapper">
        select
            *
        from
            tbl_board
        where
            board_id = #{id};
    </select>

    <select id="boardCount" resultType="mapper">
        select
            count(title)
        from
            tbl_board
        where
            name = #{name};
    </select>

    <insert id="save">
        insert into tbl_board
        values(#{id}, #{name}, #{title}, #{content})
    </insert>
</mapper>
